<h2>会員情報編集</h2>
<% if @customer.errors.any? %>
  <p><%= @customer.errors.full_messages.count %>件のerror</p>
  <% @customer.errors.full_messages.each do |customer| %>
    <%= customer %><br>
  <% end %>
<% end %>

<%= form_with model:@customer, local:true do |f| %>
  <div class="field">
    <%= f.label :last_name, "名前" %>
    <%= f.text_field :last_name, placeholder: "令和" %>
    <%= f.text_field :first_name, placeholder: "道子" %>
  </div>
  
  <div class="field">
    <%= f.label :kana_last_name, "フリガナ" %>
    <%= f.text_field :kana_last_name, placeholder: "レイワ" %>
    <%= f.text_field :kana_first_name, placeholder: "ミチコ" %>
  </div>
  
  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>
  
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
  
  <div class="field">
    <%= f.label :telephone_number, "電話番号" %>
    <%= f.text_field :telephone_number, placeholder: "0000000000" %>
  </div>
  
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.submit "編集内容を保存" %>
  </div>
  
  <%= link_to "退会する", customers_unsubscribe_path %>
<% end %>