<div class="products_show container" style="min-height:550px">
    <div class="row">
        <div class="col-5">
<div class="product-image">
    <%= attachment_image_tag @product, :product_image, :fill, 100, 100, fallback: "no_image.png", size: '400x300' %>
</div>
</div>
<div class="col-7">
<div class="product-detail">
    <div class="product-name" style="font-size:30px">
        <%= @product.name %>
    </div>
    <div class="product-introduction" style="padding-bottom:40px">
        <%= @product.introduction %>
    </div>
    <div class="product-price" style="font-size:20px">
        <%= number_to_currency(@price, :format => "%u%n", :unit => "￥") %>
        <span>(税込)</span>
    </div>
</div>
<div class="to-cart">
    <% if @product.now_on_sale == true %>
        <%= form_with model: @cart, url: carts_path, local: true do |f| %>
            <%= f.hidden_field :product_id, :value => @product.id %>
            <%= f.number_field :amount, min: 1, placeholder: "個数選択" %>
            <%= f.submit "カートに入れる", class: "btn btn-success offset-md-1" %>
        <% end %>
    <% elsif @product.now_on_sale == false %>
        <p>現在販売しておりません</p>
    <% end %>
</div>
</div>
    </div>
</div>