<div class="genre">
  <div class="container">
  <div>
    <h4>ジャンル一覧・追加</h4>
    <%= form_with model: @genre_new, url: admin_genres_path, local: true do |f| %>
      <table>
        <th>ジャンル名</th>
        <td><%= f.text_field :name %></td>
      </table>
      <p><%= f.submit'新規登録'%></p>
    <% end %>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>ジャンル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @genres.each do |genre| %>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre.id) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
