<%= form_with model:shipping_address, local:true do |f| %>
  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-3 mr-3" %>
    <%= f.text_field :postal_code, placeholder: "0000000", class: "col-2 form-ph" %>
  </div>

  <div class="field" style="height:0;opacity:0">
    <%= f.label :prefecture_code %><br>
    <%= f.collection_select :prefecture_code, JpPrefecture::Prefecture.all, :name, :name %>
  </div>


  <div class="field">
    <%= f.label :address, "住所", class: "col-3 mr-3" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-4 form-ph" %>
  </div>


  <div class="field">
    <%= f.label :shipping_name, "宛名", class: "col-3 mr-3" %>
    <%= f.text_field :shipping_name, placeholder: "令和道子", class: "col-2 form-ph" %>
  </div>

  <div class="field">
    <%= f.submit class: "btn btn-success col-3 mt-4 offset-md-2" %>
  </div>
<% end %>