<h2>配送先編集</h2>
<% if @shipping_address.errors.any? %>
  <p><%= @shipping_address.errors.full_messages.count %>件のerror</p>
  <% @shipping_address.errors.full_messages.each do |shipping_address| %>
    <%= shipping_address %><br>
  <% end %>
<% end %>
<%= form_with model:@shipping_address, local:true do |f| %>
  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </div>
  
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </div>
  
  <div class="field">
    <%= f.label :shipping_name, "宛名" %>
    <%= f.text_field :shipping_name, placeholder: "令和道子" %>
  </div>
  
  <div class="field">
    <%= f.submit "変更内容を保存" %>
  </div>
<% end %>