<h3>ショッピングカート</h3>
<div class="all_delete">
  <%= link_to "カートを空にする", cart_destroy_all_path, class: "btn btn-danger", method: :delete %>
</div>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <%  @cart_products.each do |cart_product| %>
    <tr>
      <td>
        <%= attachment_image_tag cart_product.product, :product_image, :fill, 50, 50, fallback: "no_image.png", size: '50' %>
        <%= cart_product.product.name %>
      </td>
      <td>
        <%= cart_product.product.include_tax %>円
      </td>
      <td>
        <%= form_with model: cart_product, url: cart_path(cart_product), local: true do |f| %>
          <%= f.number_field :amount, min: 1, max: 20, value: cart_product.amount %>
          <%= f.submit "更新" %>
        <% end %>
      </td>
      <td>
        <%= cart_product.product.include_tax * cart_product.amount %>円
      </td>
      <td>
        <%= link_to "削除する", cart_path(cart_product), class: "btn btn-danger", method: :delete %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>