<div class="admin" style="min-height: 450px">
<div class="card col-sm-5 mx-auto mt-5">
  <div class="card-body">
    <h4 class="mt-1 mb-3 bg-gray text-center ">管理者ログイン</h4>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス", :class => "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード", :class => "form-label" %>
      <%= f.password_field :password, :class => "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", :class => "btn btn-outline-secondary btn-block" %>
    </div>
    <% end %>
  </div>
</div>
</div>
