<%= form_with model: product, url: admin_products_path, local: true do |f| %>
  <div class="row">
    <div class="col-12">
    <table>
      <tr>
        <th>商品画像</th>
        <td><%= f.attachment_field :product_image, placeholder: "ファイルを選択" %></td>
      </tr>
      <tr>
        <th>商品名</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= f.text_area :introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></td>
      </tr>
     <tr>
      <th>税抜き価格</th>
      <td><%= f.number_field :price %></td>
     </tr>
     <tr>
      <th>販売ステータス</th>
      <td><%= f.radio_button :now_on_sale, :true %>
        <%= f.label :now_on_sale, "販売中", {value: :true, style: "display: inline-block;"} %>
        <%= f.radio_button :now_on_sale, :false %>
        <%= f.label :now_on_sale, "販売停止中", {value: :false, style: "display: inline-block;"} %></td>
     </tr>

    </table>
      <p><%= f.submit'登録'%></p>
    <% end %>
    </div>
  </div>