
<div class="card col-sm-5 mx-auto mt-5" style="padding-bottom:20px;margin-bottom:50px">
  <div class="card-body">
    <h4 class="mt-1 mb-3 bg-gray text-center ">ログイン</h4>
<h5 class="mt-1 mb-3 bg-gray text-center ">会員の方はこちらからログイン</h5>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email, "メールアドレス", :class => "form-label"  %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examole.com", :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "パスワード", :class => "form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
  </div>

  <% if false %>
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
</div>



<h4 class="mt-1 mb-3 bg-gray text-center ">会員登録がお済みでない方</h4>
<%= render "customers/shared/links" %><span> から新規登録を行ってください。</span>
</div>