<h3>注文情報確認</h3>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_products.each do |cart_product| %>
      <tr>
        <td><%= attachment_image_tag cart_product.product, :product_image, :fill, 100, 100, fallback: "no_image.png", size: '100x100' %><%= cart_product.product.name %></td>
        <td><%= (cart_product.product.price * 1.1).floor.to_s(:delimited) %></td>
        <td><%= cart_product.amount %></td>
        <td><%= (cart_product.product.price * cart_product.amount * 1.1).floor.to_s(:delimited) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_with model: @order, url: orders_path, local: true do |f| %>
  <table>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping %></td>
      <%= f.hidden_field :shipping, :value => @order.shipping %>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= @total_price %></td>
    </tr>
    <tr>
      <th>請求額</th>
      <td><%= @order.shipping + @total_price %></td>
      <%= f.hidden_field :total_price, :value => @order.shipping + @total_price %>
    </tr>
  </table>
  
  <table>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
      <%= f.hidden_field :payment_method, :value => @order.payment_method %>
    </tr>
    <tr>
      <th>お届け先</th>
      <td>
        〒<%= @order.postal_code %>
        <%= f.hidden_field :postal_code, :value => @order.postal_code %><br>
        <%= @order.address %>
        <%= f.hidden_field :address, :value => @order.address %><br>
        <%= @order.name %>
        <%= f.hidden_field :name, :value => @order.name%>
      </td>
    </tr>
  </table>
  
  <%= link_to "情報入力へ戻る", new_order_path, class: "btn btn-primary" %>
  <%= f.submit "購入を確定する", class: "btn btn-success" %>
<% end %>