<h3>注文情報入力</h3>
  <%= form_with model: @order, url: orders_confirm_path, local: true do |f| %>
    <h3>支払方法</h3>
      <%= f.radio_button :payment_method, :credit, checked: true %>
      <%= f.label :payment_method_credit, 'クレジットカード' %>
      <%= f.radio_button :payment_method, :bank %>
      <%= f.label :payment_method_bank, '銀行振込' %>

    <h3>お届け先</h3>
      <%= f.radio_button :address_option, 0, checked: true %>
      <%= f.label :address_option, 'ご自身の住所' %>
      <p>
        〒<%= current_customer.postal_code %> <%= current_customer.address %><br/>
        <%= full_name(current_customer) %>
      </p>
      <% if current_customer.shipping_addresses.count != 0 %>
        <%= f.radio_button :address_option, 1 %>
        <%= f.label :address_option, '登録済み住所から選択' %>
        <%= f.collection_select :id, current_customer.shipping_addresses, :id, :address, {prompt: "選択してください"}, class: "form-control" %>
      <% end %>

      <%= f.radio_button :address_option, 2 %>
      <%= f.label :address_option, '新しいお届け先' %>
      <div>
        <%= f.label :postal_code, '郵便番号(ハイフンなし)' %>
        <%= f.text_field :postal_code %>
      </div>
      <div>
        <%= f.label :address, '住所' %>
        <%= f.text_field :address %>
      </div>
      <div>
        <%= f.label :name, '宛名' %>
        <%= f.text_field :name %>
      </div>

      <%= f.submit '確認画面へ進む', class: "btn btn-primary" %>

  <% end %>