<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <div class="abc">
      <%= yield %>
      <span class="Notification">
      <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: key %>
      <% end %>
    </span>
    </div>


    

    
  </body>
  <div class="footer">
    <img class="footer_logo" src="/assets/logo.png" width="260px" height="60px">
    <br>
      <img src="/assets/© Nagano Cake.All Rights reserved.png" height="12px">

  </div>
</html>

