<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" type="text/css" href="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>


    <%= render "layouts/search" %>
    <div class="abc">
      <%= yield %>
    </div>
    


    <div class="Notification">
      <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: key %>
      <% end %>
    </div>

    
  </body>
  <div class="footer">
    <img src="/assets/logo.png" width="260px" height="60px">
  </div>
</html>

